{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %}
СТЕЙКЕЙШН.ru | Крым
{% endblock %}

{% block content %}
<div class="row alert text-center">
            <div class="col-12">
                <h4 class="display-4">Крым</h4>
                <div class="city_text display-6">
                    <h7>
                        Крым – идеальное место отдыха.
                        Целебный воздух, насыщенный фитонцидами хвойных деревьев и ароматами степного и горного
                        разнотравья, нежное солнце, ласковое море - все это Крым.
                    </h7>
                </div>
            </div>
        </div>
        <div class="container-sm city_viwer">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{% static '/main/img/krim.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/main/img/krim2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/main/img/krim1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev prev_arrow" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next next_arrow" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="hotels_city row alert text-center">
                <h3 class="display-6">Доступные отели</h3>
            </div>
            <div class="container-fluid text-center hotels_cards">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <img src="{% static '/main/img/mria.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">МРИЯ</h5>
                                <p class="card-text">Этот высококлассный спа-курорт расположен на Белом пляже на Черном
                                    море. Инновационное здание в форме клевера спроектировано сэром Норманом Фостером. В
                                    12 км от отеля находится Воронцовский дворец.</p>
                                <br>
                                <p>3200 ₽</p>
                                <br>
                                <a {% if user.is_authenticated %} href="{% url 'booking' %}" {% else %}  href="accounts/signup/" {% endif %} class="btn btn-primary">Забронировать</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="{% static '/main/img/vyera.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Vylla Vyera</h5>
                                <p class="card-text">Очень достойный отель, хорошо подходит для семейного отдыха.
                                    Шикарный вид на горы, чистый воздух и близость к морю. Отзывчивый персонал и
                                    комфортные условия пребывания не оставят вас равнодушным. Отдельный бонус – бассейн
                                    и парковка для личных автомобилей
                                    гостей. </p>
                                <br>
                                <p>1300 ₽</p>
                                <br>
                                <a {% if user.is_authenticated %} href="{% url 'booking' %}" {% else %}  href="accounts/signup/" {% endif %} class="btn btn-primary">Забронировать</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="{% static '/main/img/marioti.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Новый Свет</h5>
                                <p class="card-text">Этот уютный гостиничный комплекс окружен деревьями и находится в 8
                                    минутах ходьбы от расположенного на берегу Черного моря пляжа, в 2 км от грота
                                    Голицына и в 9 км от трассы R29.</p>
                                <br>
                                <p>2600 ₽</p>
                                <br>
                                <a {% if user.is_authenticated %} href="{% url 'booking' %}" {% else %}  href="accounts/signup/" {% endif %} class="btn btn-primary">Забронировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}