{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %}
СТЕЙКЕЙШН.ru | Ялта
{% endblock %}

{% block content %}
<div class="row alert text-center">
            <div class="col-12">
                <h4 class="display-4">Ялта</h4>
                <div class="city_text display-6">
                    <h7>
                        Ялта – это гордость Крымского полуострова и один из самых популярных курортов.
                    </h7>
                </div>
            </div>
        </div>
        <div class="container-sm city_viwer">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{% static '/main/img/yalta.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/main/img/yalta1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/main/img/yalta2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev prev_arrow" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next next_arrow" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="hotels_city row alert text-center">
                <h3 class="display-6">Доступные отели</h3>
            </div>
            <div class="container-fluid text-center hotels_cards">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <img src="{% static '/main/img/nika.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ялта Интурист</h5>
                                <p class="card-text">Этот шумный элитный курорт расположен у подножия Ялтинского горного
                                    массива недалеко от галечного пляжа на побережье Черного моря. В 5 км от курорта
                                    находится железнодорожный вокзал Ялты и Никитский ботанический сад.</p>
                                <br>
                                <p>5100 ₽</p>
                                <br>
                                <a {% if user.is_authenticated %} href="{% url 'booking' %}" {% else %}  href="accounts/signup/" {% endif %} class="btn btn-primary">Забронировать</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="{% static '/main/img/shouyan.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Palmira Palace</h5>
                                <p class="card-text">тот высококлассный отель расположен в большом, обсаженном деревьями
                                    гостиничном комплексе на Черном море, в 6 км от трассы H19 и в 3 км от "Ласточкиного
                                    гнезда" – сказочного замка на скале.</p>
                                <br>
                                <p>25000 ₽</p>
                                <br>
                                <a {% if user.is_authenticated %} href="{% url 'booking' %}" {% else %}  href="accounts/signup/" {% endif %} class="btn btn-primary">Забронировать</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="{% static '/main/img/nabokov.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Villa Elena</h5>
                                <p class="card-text">тот роскошный отель расположен в 3 минутах ходьбы от набережной
                                    Черного моря и в 11 минутах ходьбы от железнодорожной станции Ялта. В 2 км от отеля
                                    находится Массандровский пляж, а в 5 км – Ливадийский дворец.</p>
                                <br>
                                <p>4300 ₽</p>
                                <br>
                                <a {% if user.is_authenticated %} href="{% url 'booking' %}" {% else %}  href="accounts/signup/" {% endif %} class="btn btn-primary">Забронировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}